/* *
*
* */

@font-face {
  font-family: AlexBrush;
  src: url(./ressources/polices/AlexBrush-Regular.ttf);
}

@font-face {
  font-family: OpenSans-Bold;
  src: url(./ressources/polices/OpenSans-Bold.ttf);
}

h1 {
  font-family: "Times New Roman", Times, serif, AlexBrush;
}

h2,
h3 {
  font-family: "Times New Roman", Times, serif, OpenSans-Bold;
  padding-left: 30px;
}

img {
  width: 100%;

  object-fit: cover;
}

.container {
  width: 90%;
  margin: auto;
  text-align: center;
}

li {
  list-style: none;
  margin: 5px auto;
}

label {
  display: block;
}

body {
  background-color: #6aa84f;
}

/* ******* NAVIGATION ***** */

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #274e13;
  color: white;
}

nav img {
  width: 150px;
  height: 100px;
}

nav ul {
  display: flex;
  margin-right: 50px;
}

nav ul li {
  list-style: none;
  margin: 10px;
}

/* *******  SECTION 1  ***** */

.section-1 {
  background-color: #eeeeee;
}

.section-1 p {
  text-align: center;
}

.section-1 img {
  height: 300px;
}

.img-min {
  text-align: center;
 padding: 10px;
 
}

.img-max {
 


}

@media screen and (max-width: 900px) {
  .img-max {
      display: none;
  }
}

@media screen and (min-width: 900px) {
  .img-min  {
      display: none;
  }
}




/* *******  SECTION 2 ***** */
.section-2 {
  background-color: #333333;
}

.section-2 h1 {
  background-color: #cccccc;
}

.section2-article {
  border: 2px black solid;
  text-align: center;
  padding: 5px;

  background-color: #6aa84f;
  color: white;
}

/* *******  SECTION 3 ***** */

.section-3 {
  background-color: #eeeeee;
}

.section3-p1 {
  text-align: center;
}

.section3-p2 {
  text-align: left;
  background-color: #cccccc;
  height: 100%;
  width: 100%;
}

/* *******  SECTION 4 ***** */

.section-4 {
  background-color: #eeeeee;
}

.section4-head {
  background-color: #333333;
  color: white;
}

.section4-article {
  background-color: #999999;
  border: 1px black solid;
  text-align: center;


}

.icones img {

}

.section4-img {
 
}

.section4-container textarea {
 
}

.Galerie {
  justify-content: center;
  align-items: center;
}

.Galerie img {
  
}

/* *******  SECTION 5 ***** */

.section-5 {
  background-color: #eeeeee;
}

.section5-aligne {
  background-color: #6aa84f;
  color: white;
}

.section5-aligne img {
  width: 50px;
  height: 50px;
}

input,
textarea {
  background-color: #b3b3b3;
  width: 100%;
}

button {
  background-color: #6aa84f;
  color: white;
  border-radius: 10px;
  width: 100px;
  height: 30px;
}

.section5-footer h3 {
  color: #6aa84f;
}

footer {
  background-color: #333333;
  color: white;
}